* {
    padding: 0px ;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: "Star-wars";
    src: url(../assets/font/Orbitron-VariableFont_wght.ttf);
    font-weight: normal ;
    font-style: normal;
}

/* Fondo */
body {
    background-image: url(../assets/img/Fondo-estrellas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: "star-wars";
}

/* Imagen de fondo */
#Fondo{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    margin-top: 80px;
}

#Fondo img{
    width: 60vw;
    animation: aparecerLogo 3s ease-in-out forwards;
    opacity: 0; 
    transform: scale(0.5);
}   
/*variable para efecto de logo */
@keyframes aparecerLogo {
  100% {
    opacity: 1;
    transform: scale(1); 
  }
}

/*Menu hamburguesa*/
.menu {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 100;
}

.hamburguesa{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.hamburguesa span{
    display: block;
    width: 40px;    
    height: 5px;
    background-color: #f8e111;
    transition: 0.3s;
}

#menu-navegacion{
    position: absolute;
    top: 40px;  
    left: 0;    
    background-color:transparent;
    padding: 1rem;
    
}

#menu-navegacion ul {
    cursor: pointer;
}

#menu-navegacion li{
    list-style-type: none;
    font-size: 23px;
    margin-bottom: 10px;
}

#menu-navegacion a{
    text-decoration: none;
    font-size: 23px;
    margin-bottom: 10px;
    color: #f8e111;
}

#menu-navegacion li:hover {
    transform: translateX(10px);
}

.oculto{
    display: none;
}

.mensaje-construccion {
    text-align: center;
    padding: 60px 20px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    border: 1px dashed #ffe81f; /* Borde punteado amarillo Star Wars */
    margin: 30px auto;
    max-width: 500px;
}

.mensaje-construccion p {
    font-size: 1.5rem;
    color: #ffe81f;
    font-weight: bold;
    margin-bottom: 10px;
}

.mensaje-construccion small {
    color: #ccc;
    font-size: 1rem;
}